.headertext {
    background: #220033;
    display: flex;
    justify-content: space-between;
}

.headertext div{
    background: #220033;
    font-family: Arial, Helvetica, sans-serif;
    color: #EECC00;
    flex-grow: 0;
}

.headergap {
    flex: 1;
    flex-grow: 10;
}