* {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
}

.fullpage {
    display: flex;
    flex-direction: column;
}

.headertext {
    background: #220033;
    display: flex;
    justify-content: space-between;
}

.headertext div{
    background: #220033;
    font-family: Arial, Helvetica, sans-serif;
    color: #EECC00;
    padding: 15px;
    flex-grow: 0;
}

.upper {
    display: flex;
    justify-content: space-around;
}

.home {
    margin-left: auto;
}

.section div{
    background: #440044;
    padding: 15px;
}

.sec2a {
    text-align: center;
    background: #440044;
    font-size: 1.4em;
    padding: 15px;
}

.sec2b {
    text-align: center;
    background: #440044;
    padding: 15px;
}

.clip1 {
    background: #440044;
    padding: 15px;
}
